/**
 * Admin styles for We The People
 *
 * @package We The People
 * @author Buckeye Interactive
 */

#wtp-petition h3 { margin: 10px 0 5px; font-size: 1.1em; }
#wtp-petition label { display: inline-block; width: 85px; }
#wtp-petition input[type="text"] { width: 200px; padding: 3px 24px 3px 3px; }

#tabs { margin: 0; padding: 15px 15px 3px; background-color: #f1f1f1; border-bottom: 1px solid #dfdfdf; }
#tabs li { display: inline; }
#tabs a { padding: 6px; color: #2583ad; text-decoration: none; border-width: 1px 1px 0; border-style: solid solid none; border-color: #f1f1f1; }
#tabs a:hover, #tabs a:focus, #tabs a:active, #tabs a.current { color: #d54e21; }
#tabs a.current { background-color: #fff; border-color: #dfdfdf; border-bottom-color: #fff; }
.tab { margin: 0; padding: 5px 20px 10px; background: #fff; border: 1px solid #dfdfdf; }

.wtp-petition-search.loading { background: url('../img/loading.gif') right center no-repeat; }
.wtp-search-results { max-height: 250px; overflow: auto; margin-top: 5px; }
.wtp-search-results ul { display: block; margin: 0; padding: 0; }
.wtp-search-results li { position: relative; margin-bottom: 1em; padding-right: 100px; }
.wtp-search-results .signature-count { position: absolute; right: 0; top: 0; display: block; max-width: 100px; overflow: hidden; font-size: .9em; text-align: right; white-space: nowrap; text-overflow: ellipsis; font-style: italic; }