/**
 * Styles for the We The People plugin
 *
 * @package We The People
 * @author Buckeye Interactive
 */

.wtp-petition .petition-status { font-size: 1.1em; font-weight: bold; }
.wtp-petition .petition-status.closed { font-size: 1em; font-weight: normal; font-style: italic; }
.wtp-petition blockquote .extended { display: none; }
.wtp-petition blockquote .toggle { font-size: .85em; }
.wtp-petition .sign-btn { float: right; }

.widget_wtp .wtp-petition .sign-btn { float: none; display: block; }

@media print {
  .wtp-petition .toggle-btn { display: none !important; }
  .wtp-petition blockquote .extended { display: block; }
  .wtp-petition .sign-btn { float: none; display: block; }
  .wtp-petition .sign-btn:after { content: attr(href); display: block; font-size: 1em; }
}

/*
  This is a very typical clearfix implementation. If you already have a clearfix in place, especially for items with class .clearfix,
  this may be less useful to you. If not, replace .wtp-petition with .clearfix for the ultimate in clearfixing.
*/
.wtp-petition { zoom: 1; }
.wtp-petition:before, .wtp-petition:after { content: ''; display: table; }
.wtp-petition:after { clear: both; }