/**
 * Supplement styles to work with TwentyFifteen
 *
 * @package We The People
 * @author Buckeye Interactive
 */

.wtp-petitions-signature {
  .wtp-petition-signature-fields {
    label, input {
      width: 100%;
    }
    label {
      padding: 0 0 0.5278em;
    }
    input {
      margin-bottom: 1em;
    }
  }
}